@import './bower_components/foundation-sites/assets/foundation-flex';
$fa-font-path: "/assets/fonts" !default;
@import "./bower_components/font-awesome/scss/font-awesome";

body {
  background: #eee;
  color: #666;
}

a {
  color: orange;

  &:focus, &:hover {
    color: lighten(orange, 8%);
  }
}

.top-bar, .top-bar ul {
  background: #999;
  color: white;
}

.comic-side {
  background: #999;
  padding-top: 0.5rem;
}

.page-num {
  cursor: pointer;
  font-size: 2rem;
  padding: 0.75rem 0;
  width: 100%;
  color: $white;
  background: #666;
  text-align: center;
  margin-bottom: 0.5rem;
}

.comic-area {
  padding-left: 0;
  padding-right: 0;

  h3 {
    text-align: center;
  }
}

.comic {
  position: relative;

  img, h3, .comic-nav {
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}

.comic-nav {
  position: absolute;
  margin:0;
  padding: 0;
  list-style: none;
  width: 100%;

  &.half {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .abso {

      a {
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        font-size: 3rem;
        padding: 0 3rem;
        opacity: 0;
        transition: opacity 300ms ease;
        color: white;

        span {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%,-50%,0);
        }

        &:hover {
          opacity: 1;
          background: rgba(0,0,0,0.1);
        }
      }

      &.left {
        a {
          left: 0;
        }
      }
      &.right {
        a {
          right: 0;
        }
      }

    }
  }

  &.full {
    bottom: 0;

    li {
      display: inline-block;
      font-size: 2rem;

      a {
        color: orange;
      }
    }
  }
}

footer {
  background: #999;
  color: white;
  padding: 0.5rem;
}
