<section class="comic">
  <h3>{{model.comic.name}}</h3>
  {{comic-nav id="side-navs" fullNav=false current=model.comic.id counter=model.length}}
  <img src={{model.comic.image}} alt="comic">
  {{comic-nav id="navigation" class="nav-wrap" current=model.comic.id counter=model.length}}
</section>
