<section class="comic">
  <h3>{{model.name}}</h3>
  {{comic-nav id="side-navs" fullNav=false current=model.id counter=6}}
  <img src={{model.image}} alt="comic">
  {{comic-nav id="navigation" class="nav-wrap" current=model.id counter=6}}
</section>
