<nav class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      {{#link-to "index" tagName="li" class="menu-text"}}Comic Reader{{/link-to}}
      <li>{{#link-to "comics.comic" 6}}Newest{{/link-to}}</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>{{#link-to "comics.comic" 1}}Start{{/link-to}}</li>
    </ul>
  </div>
</nav>

<main role="main" class="row expanded">
  {{outlet}}
</main>

<footer class="row expanded">
  <div class="column">
    Web Developer Dude, 2016
  </div>
</footer>
